<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <span>
      This is a Website made for Learning NodeJs, RESTful API's and CRUD OPERATIONS.
    </span>
    </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>